black @ file:///croot/black_1712698501521/work
Bottleneck @ file:///croot/bottleneck_1707864210935/work
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1707229174982/work/certifi
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///croot/click_1698129812380/work
contourpy @ file:///opt/conda/conda-bld/contourpy_1663827406301/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
flake8 @ file:///croot/flake8_1708965256870/work
fonttools @ file:///croot/fonttools_1713551344105/work
idna @ file:///croot/idna_1714398848350/work
importlib-resources @ file:///croot/importlib_resources-suite_1704281845041/work
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
joblib @ file:///croot/joblib_1713976767370/work
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
matplotlib @ file:///croot/matplotlib-suite_1693812469450/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mypy-extensions @ file:///croot/mypy_extensions_1695130926492/work
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
packaging @ file:///croot/packaging_1710807400464/work
pandas @ file:///croot/pandas_1692289311655/work
pathspec @ file:///croot/pathspec_1674681560568/work
pillow @ file:///croot/pillow_1714398848491/work
platformdirs @ file:///croot/platformdirs_1692205439124/work
ply==3.11
pooch @ file:///croot/pooch_1695850093751/work
pycodestyle @ file:///croot/pycodestyle_1701821051884/work
pyflakes @ file:///croot/pyflakes_1708962956225/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
pytz @ file:///croot/pytz_1713974312559/work
requests @ file:///croot/requests_1716902831423/work
scikit-learn @ file:///croot/scikit-learn_1694788527225/work
scipy==1.10.1
sip @ file:///croot/sip_1698675935381/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
tornado @ file:///croot/tornado_1696936946304/work
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
unicodedata2 @ file:///croot/unicodedata2_1713212950228/work
urllib3 @ file:///croot/urllib3_1715635851070/work
zipp @ file:///croot/zipp_1704206909481/work
